<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu">
          
            <li routerLinkActive="active"><a routerLink="/home.html">
                <i class="flaticon-381-home"></i>
                <span class="nav-text">Tableau de bord</span>
            </a>
        </li>

        <li routerLinkActive="active"><a routerLink="/nouveau.html">
            <i class="flaticon-381-plus"></i>
            <span class="nav-text">Nouveau docteur</span>
        </a>
    </li>


    

        </ul>
    
    
     
    </div>
</div>